body{
    background-image: url('../img/photo-1528728935509-22fb14722a30.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}