.registerForm{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */
    border: 2px solid #3498db;
}
.esentials input[type = "text"],.esentials input[type = "password"],.esentials input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.esentials input[type = "text"]:focus,.esentials input[type = "password"]:focus,.esentials input[type = "email"]:focus{
    width: 200px;
    border-color: #2ecc71;
}

.register input[type = "submit"]{
    border: 2px solid #3498db;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.register input[type = "submit"]:hover{
    background: #2ecc71;
}
.labels{
    color: white;
}
.esentials input[type = "text"]::placeholder,.esentials input[type = "password"]::placeholder,.esentials input[type = "email"]::placeholder{
   color: white;
}