
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 200px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "submit"]:hover{
background: #2ecc71;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box a{
    color: white;
}
.box input[type = "text"]::placeholder,.box input[type = "password"]::placeholder{
    color: white;
}
/*CSS for bottom bars/ need to move them to other file*/
.nowPlayingBarContainer {
    width: 100%;
    background-color: #202020;
    bottom: 0;
    position: fixed;
    min-width: 620px;

}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
* {
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif ;
    color: #ffffff;
    letter-spacing: 1px;
}
body{
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}
.nowPlayingBars{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}
.nowPlayingLeft,.nowPlayingRight{
    width: 30%;
    min-width: 180px;
}
.nowPlayingRight{
    position: relative;
    margin-top: 10px;
}
.nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nowPlayingBars .content{
    width: 100%;
    height: 65px;
}
.playerControls .buttons{
    margin: 0 auto;
    display: table;
}
.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
.controlButton img{
    width: 30px; /*50%*/
    height: 30px;
}
.controlButton.play img,.controlButton.pause img{
    width: 40px;
    height: 40px;
}
.controlButton:hover{
    cursor: pointer;
}
/*TIME AND PROGRESS BAR/ center bar*/
.progressTime{
    color: #a0a0a0;
    font-size: 15px;
    min-width: 40px;
    text-align: center;
}
.playbackBar{
    display: flex;
}
.progressBar{
    width: 100%;
    height: 20px;
    display: inline-flex;
    cursor: pointer;
}
.progressBarBackground {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}
.progress{
    background-color: #a0a0a0;
    height: 4px;
    width: 0%;
    border-radius: 2px;
}
.playbackBar .progressBar{
    margin-top: 6px;
}
/*LEFT BOTTOM BAR */
.nowPlayingLeft .albumArtwork{
    height: 100%;
    max-width: 200px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}
.nowPlayingLeft .trackInfo{
    display: table;
}
.nowPlayingLeft .trackInfo .trackName{
    margin: 6px 0;
    display: inline-flex;
    width: 100%;
}
.nowPlayingLeft .trackInfo .trackArtist span{
    font-size: 12px;
    color: #a0a0a0;
}
/*RIGHT BOTTOM BAR*/
.volumeBar{
    width: 180px;
    position: absolute;
    right: 0;

}
.volumeBar .progressBar{
    width: 125px;
}
/*Top container*/
.topContainer{
    min-height: 100%;
    width: 100%;
}
.navigationBar{
    background-color: black;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.navBar{
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.logo img{
    width: 50px;
    margin-bottom: 10px;
}
.navBar .group{
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}
.navBar .navItem{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
}
.navBar .navItemLink{
    color: #a0a0a0;
    text-decoration: none;
}
.navBar .navItemLink:hover{
    color: white;

}
.icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}
.mainViewContainer{
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}
.mainContent{
    padding: 0 20px;
}
/*Album Styling images,text,padding and more*/
.pageHeadingH1{
    padding: 20px;
    text-align: center;
}
.gridViewItem{
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}
.gridViewItem img{
    width: 100%;
}
.gridViewInfo{
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gridViewItem a{
    text-decoration: none;
}
.entityInfo{
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}
.entityInfo .leftSection{
    width: 30%;
    float: left;
    max-width: 250px;
}
.entityInfo .leftSection img{
    width: 100%;
}
.entityInfo .rightSection{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}
.entityInfo .rightSection h2{
    margin-top: 0px;
}
.entityInfo .rightSection p{
    color: #939393;
    font-weight: 200;
}
/*tracklist -> songs/artist/img/button*/
.tracklist {
    padding: 0;;
}
.tracklistRow{
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}
.tracklistRow span{
    color: #939393;
    font-weight: 200;
}
.tracklistRow:hover{
    background-color: #282828;
}
.tracklistRow .trackCount{
    width: 8%;
    float: left;
}
.trackCount img{
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}
.tracklistRow:hover .trackCount img{
    visibility: visible;
}
.tracklistRow:hover .trackCount span{
    visibility: hidden;
}
.tracklistRow .trackInfo{
    width: 75%;
    float: left;
}
.tracklistRow .trackInfo .trackName{
    color: #ffffff;
    margin-bottom: 7px;
}
.tracklistRow .trackInfo span{
    display: block;
}
.tracklistRow .trackOptions{
    width: 5%;
    float: left;
    text-align: right;
}
.tracklistRow .trackOptions img{
    width: 15px;
    visibility: hidden;
}
.tracklistRow:hover .trackOptions img{
    visibility: visible;
    cursor: pointer;
}
.tracklistRow .trackDuration{
    width: 12%;
    float: left;
    text-align: right;
}
/*artist.php page*/
.artistInfo{
    text-align: center;
}
.button{
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}
.button.green{
    background-color: #2ebd59;
    border-color: #2ebd59;
}
.borderBottom{
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}
.tracklistContainer h2,.albumContainer h2, .artistContainer h2{
    text-align: center;
}
[role="link"]{
    cursor: pointer;
}
/*search container*/
.searchContainer{
    background-color: #242424;
    padding: 20px 20px;
}
.searchContainer h4{
    margin: 0;
    font-weight: 300;
}
.searchContainer input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}
input:focus{
    outline: none;
}
/**/
.searchResultRow{
    padding: 15px 10px;
}
.searchResultRow:hover{
    background-color: #282828;
}
.searchResultRow .artistName span{
    color: #ffffff;
}
.noResult{
    margin: 15px;
    display: block;
}
/*music page*/
.buttonItems .button{
    display: block;
    margin: 0 auto 20px auto;
}
.playlistContainer{
    padding: 10px 0;
}
.playlistImage{
    border: 3px solid #282828;
    padding: 10px;
}
/*optionMenu*/
.optionMenu{
    position: fixed;
    background-color: #282828;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}
.optionMenu .item{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147, 147, 147, 0.8);
    cursor: pointer;
    height: 40px;
    background-color: #282828;
    font-size: 14px;
}
.optionMenu .item:hover{
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}
.optionMenu select{
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.userInfo h1{
text-align: center;
}
/*user-details page*/
.userDetails{
    padding: 20px;
}
.userDetails .container h2{
    text-align: center;
}
.userDetails .container input[type="text"],
.userDetails .container input[type="password"],
.userDetails .container .button{
    display: block;
    margin: 16px auto;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"]{
    height: 50px;
    width: 100%;
    background: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}
.userDetails .container .message{
    color: #2ebd59;
    font-weight: 300;
}












